.activityCardContainer{
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(242, 242, 242);
    width: 13.5rem;
    height: 15rem;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.186);
    cursor: pointer;
}

.activityTitle p{
    font-weight: 500;
}

.activityInfo{
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activityCardContainer:hover{
    transition: 0.2s;
    background-color: rgb(228, 228, 228);
}