.addClassroomPageBody{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.addClassroomSection{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addClassroomForm{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.addClassroomInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addClassroomInput input{
    border: none;
    outline: none;
    padding: 10px;
    background-color: var(--color-secondary);
    box-shadow: var(--shadow-light);
    border-radius: 15px;
}