.mainActivityTitleContainer{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainActivityTitle{
    color: rgb(0, 0, 0);
}

.classroomsSection{
    width: 80%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.mainActivitySection{
    display: flex;
    width: 80%;
    justify-content: center;
}

.activitiesSection{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224.9px, 224.9px));
    width: 100%;
    height: 100%;
    gap: 40px;
}

.contentSection{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loadingActivitiesContainer{
    width: 95%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notFoundMessage{
    font-size: 15px;
    color: rgb(143, 143, 143);
    width: 25rem;
}

.repositoryCard{
    transition: 0.2s;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.186);
    width: 10rem;
    border-radius: 15px;
    padding: 0px 10px;
    gap: 20px;
    cursor: pointer;
    right: 0;
    bottom: 0;
    margin-bottom: 2rem;  
    margin-right: 2rem;  
}

.repositoryCard:hover{
    transition: 0.2s;
    background-color: rgb(241, 241, 241);
}