.dashBoardContainer{
    width: 5%;
    min-width: 50px;
    height: 100%;
    background-color: var(--color-primary);
    /* background-image: linear-gradient(#8F02B2, #D17AC6); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.186);
}

.dashBoardSection{
    height: 100%;
    width: 5%;
    min-width: 50px;
    display: flex;
    justify-content: center;
}

.navigationContainer{
    width: 100%;
}

.navigationButton{
    transition: 0.2s;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    height: 5rem;
    /* background-color: var(--color-primary); */
    background-color: transparent;
    color: white;
}

.navigationButton:hover{
    transition: 0.1s;
    background-color: var(--color-primary-hover);
}

.navigationIcon{
    font-size: 25px;
}

.pinkOption{
    background-color: transparent;
}

.pinkOption:hover{
    background-color: transparent;
}