.registerPageBody{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formInput{
    display: flex;
    flex-direction: column;
}

.registerFormContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
}

.registerFormContainer form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    justify-content: center;
}