#modal
{
    background: white;
    border: 5px dashed var(--color-green);
    border-radius:20px;
    width:450px; 
    height:200px;

    animation: 0.5s showOut;
}

#modal::backdrop
{ 
    background:rgba(0, 0, 0, 0.5); 
}

#buttonOk
{
    background-color:white;
    border-radius:5px;
    cursor:pointer;
    width:50px; 
    height:25px;
}

.centralizaObjeto
{ 
    display:flex; 
    align-items:center; 
    flex-direction:column; 
    height:100%; 
    justify-content:center; 
}

.doneIcon{
    color: var(--color-green);
    font-size: 34px;
}

@keyframes showOut{
    from{
        width: 0px;
        height: 0px;
        color: rgba(0, 0, 0, 0);
    }
    to{
        width:450px; 
        height:200px;
        color: rgba(0, 0, 0, 1);
    }
}