.classPlanBtn{
    transition: 0.2s;
    display: flex;
    position: fixed;
    right: 0;
    margin: 1rem 1.5rem;
    padding: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    font-size: 20px;
    cursor: pointer;
    box-shadow: var(--shadow-light);
    z-index: 3;
}

.classPlanBtn:hover{
    background-color: var(--color-primary-hover);
}