.loginPageBody{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.formSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.InputContainer{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 70%;
}

.inputField{
    height: 0.8rem;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 15px;
    background-color: rgb(238, 238, 238);
}

.inputLabel{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.loginFormSection{
    border-radius: 20px;
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.bottomSideContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.buttonLogin{
    background-color: aqua;
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonLoginLoading{
    background-color: rgb(0, 179, 179);
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordLink{
    color: rgb(192, 192, 192);
    font-size: 18px;
    text-decoration: none;
}

.registerLink{
    color: rgb(192, 192, 192);
    font-size: 18px;
    text-decoration: none;
}

.professorModeLink{
    color: rgb(192, 192, 192);
    font-size: 18px;
    text-decoration: none;
}

.linkSection{
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-between;
}

.bottomSideContainer{
    width: 27%;
}