.loginPageBody{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.formSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.loginTitleTxt{
    color: white;
}

.InputContainer{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 70%;
}

.inputField{
    height: 0.8rem;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 15px;
    background-color: var(--color-secondary);
    box-shadow: var(--shadow-light);
}

.inputLabel{
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.loginFormSection{
    border-radius: 20px;
    width: 25rem;
    min-height: 25.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.344);
    padding: 50px 0px;
    background-color: var(--color-primary);
    border: 2px dashed white;
    border-radius: 15px;
}

.bottomSideContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.buttonLogin{
    transition: 0.2s;
    background-color: white;
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}

.buttonLogin:hover{
    /* background-color: var(--color-primary-hover); */
    background-color: var(--color-pink);
    color: white;
}

.buttonLoginLoading{
    background-color: var(button-disabled-color);
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordLink{
    color: rgb(192, 192, 192);
    font-size: 16px;
    text-decoration: none;
}

.registerLink{
    color: rgb(192, 192, 192);
    font-size: 16px;
    text-decoration: none;
}

.professorModeLinkContainer{
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.professorModeLink{
    color: rgb(192, 192, 192);
    font-size: 16px;
    width: 15rem;
    text-decoration: none;
    text-align: center;
}

.linkSection{
    display: flex;
    flex-direction: row;
    width: 65%;
    justify-content: space-between;
}

.bottomSideContainer{
    width: 27%;
}

.incorrectCredentialsContainer{
    width: 66%;
}

.incorrectCredentialsContainer p{
    color: var(--color-error-text);
    font-size: 14px;
}