.modalGenerateClassPlanBody{
    position: fixed;
    background-color: white;
    height: 100%;
    width: 40%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classPlanContentSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.classPlanContentSection label{
    font-size: 10rem;
    color: var(--color-green);
}

.classPlanContentSection p{
    width: 50%;
    font-size: 15px;
    text-align: left;
    color: gray;
}

.responseClassPlan{
    color: var(--color-text);
    width: 90%;
    max-height: 80%;
    overflow-y: auto;
    text-align: justify;
    padding: 20px 0;
}

.modalGenerateClassPlanBody .classPlanGenBtn{
    color: white;
    transition: 0.2s;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: var(--color-green);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: var(--shadow-light);
}

.modalGenerateClassPlanBody .classPlanGenBtn:hover{
    background-color: var(--color-green-hover);
}

.modalGenerateClassPlanBody .classPlanGenBtnLoading{
    color: white;
    transition: 0.2s;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: var(--color-green-hover);
    border-radius: 10px;
    box-shadow: var(--shadow-light);
}