:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-background: #eeeeee;
  --color-primary: #007bff;
  --color-secondary: #f9f9f9;
  --color-text: #333;
  --color-border: #ddd;
  --shadow-light: 0 4px 6px #0000001a;
}

body{
  margin: 0;
  padding: 0;
}
