.homeBody{
    background-image: linear-gradient(to left, var(--color-primary), var(--color-pink), white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeBody header{
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 10px 0px;
}

.homeBody header nav{
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.homeBody header nav img{
    width: 70px;
}

.homeBody header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: flex-end;
}

.homeBody header nav ul li a{
    color: white;
}

.homeBody a{
    text-decoration: none;
}

.titleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleDiv p{
    width: 60%;
    font-size: 20px;
}

.titleDiv h1{
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 70px;
}

.buttonLogInDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.buttonLogInDiv button{
    transition: 0.2s;
    width: 15rem;
    padding: 30px;
    box-shadow: var(--shadow-light);
    border: none;
    outline: none;
    background-color: white;
    border-radius: 15px;
    color: var(--color-primary);
    cursor: pointer;
}

.buttonLogInDiv button:hover{
    background-color: var(--color-pink);
    color: white;
}

.buttonLogInDiv a{
    text-decoration: none;
}

.homeContainer{
    width: 50%;
}

.aboutDiv{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logosDiv{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logosDiv .logosContainer{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px;
    /* border: 2px dashed var(--color-primary);
    border-radius: 15px; */
}

.logosDiv img{
    width: 300px;
}

.aboutText{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutText p{
    width: 80%;
    border: 2px dashed var(--color-primary);
    padding: 20px;
    border-radius: 15px;
}