.homeBody{
    background-image: linear-gradient(to left, var(--color-primary), var(--color-pink), white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeBody header{
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 10px 0px;
    opacity: 1;
}

.homeBody header nav{
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}

.homeBody header nav img{
    width: 70px;
    opacity: 0;
}

.homeBody header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: flex-end;
}

.homeBody header nav ul li a{
    color: white;
    font-size: 20px;
}

.homeBody a{
    text-decoration: none;
    cursor: pointer;
}

.titleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleDiv p{
    width: 60%;
    font-size: 20px;
}

.titleDiv h1{
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 70px;
}

.buttonLogInDiv{
    opacity: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* animation-name: awake;
    animation-duration: 1s; */
}

.buttonLogInDiv button{
    transition: 0.2s;
    width: 15rem;
    padding: 30px;
    box-shadow: var(--shadow-light);
    border: none;
    outline: none;
    background-color: #220F0B;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.buttonLogInDiv button:hover{
    background-color: var(--color-primary-hover);
    color: white;
}

.buttonLogInDiv a{
    text-decoration: none;
}

.homeContainer{
    width: 50%;
}

#aboutDiv{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(15, 15, 15); */
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px dashed #220F0B;
    border-bottom: 3px dashed #220F0B;
    box-shadow: 0px 0px 20px 0px black;
}

.mainDiv{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.mainDiv .titleDiv img{
    width: 300px;
}

.logosDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.logosDiv .logosContainer{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.logosDiv img{
    width: 300px;
}

.aboutText{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutText .sliderItem p{
    color: rgb(0, 0, 0);
    /* background-color: #42A6DE; */
    /* max-width: 50%;
    padding: 20px;
    border-radius: 15px;
    font-size: 24px;
    border: 4px dashed #220F0B; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.259); */
    font-size: 24px;
    text-align: justify;
}

.sliderItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBody footer{
    width: 100%;
    background-color: #220F0B;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* border-top: 2px dashed white; */
    box-shadow: 0px 0px 20px 0px black;
}

#videoDiv{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeFooter p{
    color: rgba(101, 101, 101, 0.79);
}

/* .carouselComponent{
    background-color: red;
    height: 100px;
} */

@keyframes awake {
    0%{
        transform: translateY(1.25rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes asleep {
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(1.25rem);
        opacity: 0;
    }
}