.editClassroomPageBody{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.editClassroomPageSection{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editClassroomForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.loadingContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editClassroomInput{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editClassroomInput input{
    border: none;
    outline: none;
    background-color: rgb(244, 244, 244);
    padding: 15px;
    border-radius: 20px;
}

.studentTable{
    border-collapse: collapse;
    width: 100%;
}

.studentTable th{
    padding: 0px 20px;
    font-weight: 400;
    width: 100%;
}

.studentTableTitleSection p{
    font-size: 24px;
}

#titleDangerZone{
    font-size: 24px;
}

.studentEdgeRight{
    border-radius: 0 30px 30px 0;
}

.studentEdgeLeft{
    border-radius: 30px 0 0 30px;
}

.studentHeaderRow{
    background-color: rgb(241, 241, 241);
    color: rgba(0, 0, 0, 0.301);
}

.studentInfoRow{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.studentInfoRow:hover{
    background-color: rgb(225, 225, 225);
}

.editClassroomTitle{
    font-size: 38px;
}

.studentsInClassroomTable{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studentTableTitleSection{
    display: flex;
    flex-direction: row;
}

.studentsOptionsSection{
    position: absolute;
    margin-left: 16%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.studentsOptionsSection .addButton{
    transition: 0.1s;
    background-color: rgb(0, 185, 0);
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.studentsOptionsSection .addButton:hover{
    background-color: rgb(0, 165, 0);
}

.studentsOptionsSection .addButtonDisabled{
    background-color: rgb(241, 241, 241);
    transition: 0.1s;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.studentsOptionsSection .trashButton{
    transition: 0.2s;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.studentsOptionsSection .trashButtonDisabled{
    transition: 0.2s;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.studentsOptionsSection .trashButton:hover{
    background-color: rgb(233, 0, 0);
}

.dangerZone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
}

.mainContentDangerZone{
    border: 1px solid rgba(255, 0, 0, 0.199);
    border-style: solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuList{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.menuList li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItemContainer{
    display: flex;
    flex-direction: row;
    gap: 20rem;
    padding-right: 40px;
}


.changeStatusButtonContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.changeStatusButton{
    transition: 0.2s;
    border: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    height: 3rem;
    cursor: pointer;
}

.changeStatusButton:hover{
    background-color: rgb(219, 0, 0);
}